<div class = 'container-fluid' style = 'color:white;'>
    <div class ='row' style = 'box-shadow: inset 350px 0 100px 0 #151620; background-image: url(<%=image_path 'starship.gif' %>) ; background-size:100%; background-repeat:no-repeat; background-position:center; height:300px;'>
    </div>
    <div class = 'row'>

        <div class = 'col-4'>
            <div class = 'row'>
                <p style = 'margin:5%; font-size:30px; font-family:inter;'>
                    SpaceTrak is a public forum to discuss all space related matters, it has direct interaction with Nasa's api that can get you all
                    the pictures of the day in High definition and a cluster of Nasa images that are updated on a regular basis.
                    You can also view videos embedded from youtube from popular space related channels such as the SpaceX channel and the discover space channel
                    You can also get a list of all the spaceX launches and information on the launch dates, the badge icons and such and soon enough a list of all the Nasa launches.

                    To further the platform a youtube api will be included to get live and recent videos from select channels on space content..
                    Expect to see this soon enough
                </p>
            </div>

            <div class = 'row'>
                <img src="<%= image_path 'logo.png'%>" style= 'padding:2px; margin:10%; margin-left:auto; margin-right:auto; width:30%; height:30%;' alt="spacetrak logo">
            </div>
        </div>

        <div class = 'col-8' style = ''>
            
        </div>
    </div>
</div>