<div class="container-fluid" style = 'color:white;'>
  <div class="row" style = 'border:solid; border-color:white;'>
    <div class="col" style = 'border:solid; border-color:white;'>
      1 of 3
    </div>
    <div class="col-6" style = 'border:solid; border-color:white;'>
      2 of 3 (wider)
    </div>
    <div class="col" style = 'border:solid; border-color:white;'>
      3 of 3
    </div>
  </div>
  <div class="row" style = 'border:solid; border-color:white;'>
    <div class="col" style = 'border:solid; border-color:white;'>
      1 of 3
    </div>
    <div class="col-8" style = 'border:solid; border-color:white;'>
      2 of 3 (wider)
    </div>
    <div class="col" style = 'border:solid; border-color:white;'>
      3 of 3
    </div>
  </div>
</div>